@import url(roots.css);
@import url(body.css);
@import url(foooter.css);
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--color-textlight);
    min-height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main_container {
    height: 80vh;
    background-color: darkgrey;
    margin: var(--margin-main);
    background-image: url(../img/icarus.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.main_logo {
    display: flex;
    padding: 2rem 1rem;
    width: 100px;
}

.main_logo img {
    width: 100%;
    height: auto;
}